:root {
	--background-color: rgb(245, 245, 245);
	--button-box-shadow-active: inset 0 0 5px rgba(0, 0, 0, 0.1);
	--button-color: rgb(255, 255, 255);
	--button-color-hover: rgb(235, 235, 235);
	--icon-color: rgb(45, 45, 45);
	--icon-color-hover: rgb(0, 0, 0);
	--line-color: rgba(220, 220, 220);
}

.dark-mode {
	--background-color: rgb(15, 15, 15);
	--button-box-shadow-active: inset 0 0 5px rgba(255, 255, 255, 0.1);
	--button-color: rgb(40, 40, 40);
	--button-color-hover: rgb(60, 60, 60);
	--icon-color: rgb(215, 215, 215);
	--icon-color-hover: rgb(255, 255, 255);
	--line-color: rgba(35, 35, 35);
}

body {
	background-color: var(--background-color);
	height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

/* Start header */
header {
	background-color: var(--background-color);
	border-bottom: 1px solid var(--line-color);
	height: 50px;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
}

button {
	background-color: var(--button-color);
	border: 1px solid var(--line-color);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	cursor: pointer;
	column-gap: 5px;
	height: 40px;
	width: auto;
	display: flex;
	align-items: center;
}

button span {
	color: var(--icon-color);
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding-right: 3px;
}

button:hover {
	background-color: var(--button-color-hover);
}

button:active {
	box-shadow: var(--button-box-shadow-active);
}

button.toggle.active {
	background-color: var(--button-color-hover);
	box-shadow: var(--button-box-shadow-active);
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
}

button svg {
	fill: var(--icon-color);
	height: 24px;
	padding: 4px;
	width: 24px;
}

button:hover svg,
button:hover span {
	color: var(--icon-color-hover);
	fill: var(--icon-color-hover);
}

button:active svg,
button:active span {
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
}

@media (max-width: 768px) {
	header button span {
		display: none;
	}
}

.search-container {
	align-items: center;
	background-color: var(--button-color);
	border: 1px solid var(--line-color);
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	display: flex;
	height: 40px;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
	width: 50%;
}

.search-container input {
	background-color: transparent;
	border: 0px solid var(--line-color);
	color: var(--icon-color);
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: 500;
	height: 36px;
	margin-left: 20px;
	width: 100%;
}

.search-container input:focus {
	outline: none;
}

.search-container button {
	border: 0px;
	border-left: 1px solid var(--line-color);
	background-color: var(--button-color);
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-ms-border-bottom-left-radius: 0px;
	-o-border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-ms-border-top-left-radius: 0px;
	-o-border-top-left-radius: 0px;
	padding-left: 3px;
	padding-right: 8px;
}

.search-container button:hover {
	background-color: var(--button-color-hover);
}

/* End Header Items */


/* Settings */
#settings-container {
	background-color: var(--button-color);
	border-radius: 10px;
	border: 1px solid var(--line-color);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	height: 80%;
	position: absolute;
	right: 10px;
	top: 46px;
	transition: opacity 0.2s linear, visibility 0s;
	-webkit-transition: opacity 0.2s linear, visibility 0s;
	-moz-transition: opacity 0.2s linear, visibility 0s;
	-ms-transition: opacity 0.2s linear, visibility 0s;
	-o-transition: opacity 0.2s linear, visibility 0s;
	visibility: visible;
	width: 250px;
	z-index: 2000;
}

#settings-container.hidden {
	opacity: 0%;
	visibility: hidden;
}

/* End Settings */

/* Main Container */
.main-container {
	display: grid;
	grid-template: 1fr / 1fr 0.3fr;
	height: calc(100% - 51px);
}

.video-container {
	align-self: center;
	position: relative;
}

#player-container {
	background-color: var(--button-color);
	border-left: 1px solid var(--line-color);
	border-right: 1px solid var(--line-color);
	border-top: 1px solid var(--line-color);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	position: relative;
}

#player-container,
#player-container iframe {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
}

#player-container.fullscreen,
#player-container.fullscreen iframe {
	border: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

#player {
	position: absolute;
	width: 100%;
	height: 100%;
}

.controller-container {
	background-color: var(--button-color);
	border: 1px solid var(--line-color);
	border-bottom-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	-ms-border-bottom-left-radius: 15px;
	-o-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-ms-border-bottom-right-radius: 15px;
	-o-border-bottom-right-radius: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 100px;
}

.subtitle-settings {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 100px;
	justify-items: center;
	padding: 10px;
	width: auto;
}

.subtitle-options {
	align-items: center;
	display: grid;
	grid-column: 1 / 5;
	grid-row: 1 / 3;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
}

.subtitle-options label {
	grid-row: 1;
}

.subtitle-options input[type="number"],
.subtitle-options select {
	font-size: 14px;
	grid-row: 2;
	padding: 5px;
}

.color-selector {
	grid-row: 2;
	height: 30px;
	padding: 0;
	width: 30px;
}

#fullscreen {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	bottom: calc(1% + 40px);
	height: 30px;
	opacity: 0.2;
	position: absolute;
	right: 10px;
	width: 30px;
	z-index: 1000;
}

#player-container:hover #fullscreen {
	opacity: 1;
}

#fullscreen svg {
	fill: rgb(255, 255, 255, 0.8);
	transition-duration: 200ms;
}

#fullscreen:hover svg {
	fill: rgb(255, 255, 255, 1);
}

.subtitle-wrapper {
	background-color: rgb(0, 0, 0, 0.5);
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	text-align: center;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.685);
	z-index: 1000;
}


.transcription-container {
	background-color: red;
	height: 100%;
	width: 100%;
}

@media (max-width: 768px) {
	.main-container {
		grid-template: 1fr 0.3fr / 1fr;
		height: auto;
	}
}