:root {
	--background-color: rgb(245, 245, 245);
	--button-box-shadow-active: inset 0 0 5px rgba(0, 0, 0, 0.1);
	--button-color: rgb(255, 255, 255);
	--button-color-hover: rgb(235, 235, 235);
	--icon-color: rgb(45, 45, 45);
	--icon-color-hover: rgb(0, 0, 0);
	--line-color: rgba(220, 220, 220);
}

.dark-mode {
	--background-color: rgb(15, 15, 15);
	--button-box-shadow-active: inset 0 0 5px rgba(255, 255, 255, 0.1);
	--button-color: rgb(40, 40, 40);
	--button-color-hover: rgb(60, 60, 60);
	--icon-color: rgb(215, 215, 215);
	--icon-color-hover: rgb(255, 255, 255);
	--line-color: rgba(35, 35, 35);
}

body {
	background-color: var(--background-color);
	margin: 0;
}

header {
	background-color: var(--background-color);
	border-bottom: 1px solid var(--line-color);
	height: 50px;
	top: 0;
	width: 100%;
	z-index: 5;
}

.header-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
}

button {
	align-items: center;
	background-color: var(--button-color);
	border: 1px solid var(--line-color);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	cursor: pointer;
	column-gap: 5px;
	display: flex;
	height: 40px;
	justify-content: space-between;
	width: auto;
}

button span {
	color: var(--icon-color);
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding-right: 3px;
}

button:hover {
	background-color: var(--button-color-hover);
}

button:active {
	box-shadow: var(--button-box-shadow-active);
}

button.toggle.active {
	background-color: var(--button-color-hover);
	box-shadow: var(--button-box-shadow-active);
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
}

button svg {
	fill: var(--icon-color);
	height: 30px;
	width: 30px;
}

button:hover svg,
button:hover span {
	color: var(--icon-color-hover);
	fill: var(--icon-color-hover);
}

button:active svg,
button:active span {
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
}

@media (max-width: 768px) {
	button {
		width: 40px;
	}

	button span {
		display: none;
	}
}

.search-container {
	align-items: center;
	background-color: var(--button-color);
	border: 1px solid var(--line-color);
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	display: flex;
	height: 40px;
	width: 50%;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
}

.search-container input {
	background-color: transparent;
	border: 0px solid var(--line-color);
	color: var(--icon-color);
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: 500;
	height: 36px;
	margin-left: 20px;
	width: 100%;
}

.search-container input:focus {
	outline: none;
}

.search-container button {
	border: 0px;
	border-left: 1px solid var(--line-color);
	background-color: var(--button-color);
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-ms-border-bottom-left-radius: 0px;
	-o-border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	-ms-border-top-left-radius: 0px;
	-o-border-top-left-radius: 0px;
	padding-left: 3px;
	padding-right: 10px;
}

.search-container button:hover {
	background-color: var(--button-color-hover);
}


main {
	display: grid;
	grid-template-columns: 1fr 0.3fr;
	grid-template-rows: 0.3fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	position: absolute;
	width: 100%;
}

main.setting-hidden {
	grid-template-rows: 0 1fr;
}

.settings-container {
	grid-area: 1 / 1 / span 1 / span 2;
	background-color: blue;
}

.settings-container.hidden {
	display: none;
}

.video-container {
	display: grid;
	flex-grow: 1;
	grid-area: 2 / 1 / span 1 / span 1;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 100px;
}

#player-container {
	background-color: var(--button-color);
	border-left: 1px solid var(--line-color);
	border-right: 1px solid var(--line-color);
	border-top: 1px solid var(--line-color);
	grid-area: 1;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#player-container,
#player-container iframe {
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
}

#player-container.fullscreen,
#player-container.fullscreen iframe {
	border: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

.controller-container {
	background-color: var(--button-color);
	border: 1px solid var(--line-color);
	border-bottom-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	-ms-border-bottom-left-radius: 15px;
	-o-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	-ms-border-bottom-right-radius: 15px;
	-o-border-bottom-right-radius: 15px;
	grid-area: 2;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 100px;
}


#fullscreen {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	height: 30px;
	opacity: 0.2;
	position: absolute;
	transition-duration: 500ms;
	width: 30px;
}

#main-player-container:hover #fullscreen {
	opacity: 1;
}

#fullscreen svg {
	fill: rgb(255, 255, 255, 0.8);
	height: 24px;
	transition-duration: 200ms;
	width: 24px;
}

#fullscreen:hover svg {
	fill: rgb(255, 255, 255, 1);
}

.subtitle-wrapper {
	background-color: rgb(0, 0, 0, 0.5);
	padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	text-align: center;
}

.subtitle-wrapper span {
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	overflow: auto;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.685);
}

.transcription-container {
	background-color: red;
	grid-area: 2 / 2 / span 1 / span 1;
	height: 100%;
}

@media (max-width: 768px) {
	main {
		grid-template-columns: 1fr;
		grid-template-rows: 0.3fr 1fr 0.3fr;
	}

	main.setting-hidden {
		grid-template-rows: 0 1fr 0.3fr;
	}

	.settings-container {
		grid-area: 1 / 1 / span 1 / span 1;
	}

	.video-container {
		grid-area: 2 / 1 / span 1 / span 1;
	}

	.transcription-container {
		grid-area: 3 / 1 / span 1 / span 1;
	}
}